<div class="responsive-image" [ngStyle]="{'background-image': 'url(\'/assets/images/about_bg.jpg\')'}">
  <div class="content">
    <h1>About</h1>

    <p>
      At the heart of every memorable mountain adventure is a guide who brings the journey to life.
      I am that quintessential guide – a seasoned mountaineer, an empathetic mentor, and your unwavering compass in the highlands.
    </p>

    <h2>The Early Ascent</h2>

    <p>
      My story began in the shadow of the majestic Rockies, where the crisp mountain air and towering peaks were my
      childhood playground. It was there, amid the whispering pines and alpine meadows, that my passion for the outdoors
      transformed into a life's calling. With each summit reached and each trail conquered, my expertise and respect
      for the mountain world deepened.
    </p>

    <h2>Credentials That Speak Volumes</h2>

    <p>
      With over a decade of professional guiding under my belt, I have amassed an impressive array of certifications
      and experiences. A certified IFMGA Mountain Guide, I possess expert skills in rock climbing, ice climbing, skiing,
      and wilderness medicine. My resume boasts successful ascents in some of the world's most renowned ranges,
      from the Alps to the Andes, and my safety record is impeccable.
    </p>

    <h2>Philosophy of Guidance</h2>

    <p>
      I believe that mountain guiding is not just about leading the way but also about fostering a connection between people
      and the environment. I champion a guiding style that is informative, engaging, and tailored to the individual abilities
      and aspirations of his clients. My philosophy centers on creating an experience that is as safe and sustainable as it is exhilarating.
    </p>
  </div>
</div>
