<div *ngIf="article$ | async; let article">
  <div class="responsive-image" [ngStyle]="{'background-image': 'url(' + article.content.bg_img + ')'}">
    <div class="content">
      <h1>{{article.content.title}}</h1>

      <div *ngFor="let p of article.content.paragraphs">
        <h2 *ngIf="p.title">{{p.title}}</h2>
        <p *ngIf="p.text">{{p.text}}</p>
        <img *ngIf="p.image" [src]="p.image" [alt]="p.image_description" class="img"/>
        <p *ngIf="p.image_description" class="img__description">{{p.image_description}}</p>
      </div>
    </div>
  </div>
</div>
