.header {
  &__container {
    display: flex;
    position: absolute;
    z-index: 9;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 4rem);
    padding: 0 2rem;

    @media (max-width: 699px) {
      width: calc(100% - 1rem);
      padding: 0 0.5rem;
    }
  }

  &__logo-container {
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 0.5rem;
  }

  &__logo {
    height: 4.5rem;

    @media (max-width: 699px) {
      height: 3rem;
    }
  }

  &__links {
    display: flex;

    & > div {

      &:not(:last-child) {
        margin-right: 2.5rem;

        @media (max-width: 699px) {
          margin-right: 0.75rem;
        }
      }

      color: white;
      font-weight: bold;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  &__link {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 10px;

    @media (max-width: 699px) {
      padding: 0.25rem;
    }
  }
}
