<div class="responsive-image" [ngStyle]="{'background-image': 'url(\'/assets/images/blog_bg.jpg\')'}">
  <div class="content">
    <h1>Blog</h1>

    <div class="card__container">
      <div
        *ngFor="let article of articles$ | async; let i = index"
        class="card"
        (click)="navigateToArticle(article.id)">
        <img [src]="'assets/images/' + article.image" [alt]="article.title">
        <div class="card-body">
          <div class="card__title">{{ article.title }}</div>
          <div class="card__description">{{ article.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
