<div class="responsive-image" >

  <div class="content">
    <div class="content__title">
      Your Trusted Companion in the Mountains
    </div>

    <div class="content__sub-title">
      We will safely bring you to the top.
    </div>

    <div class="content__sub-text">
      Here should be an elevator pitch explaining why you should book me
    </div>

    <div class="content__contact">
      Contact:<br/>
      <a href="tel:+1234567890">+41 78 111 22 33</a><br/>
      <a href="mailto:example@example.com">example@example.com</a>
    </div>
  </div>
</div>
