.responsive-image {
  background-image: url('/assets/images/hiker_ultra_wide.jpg'); /* Path to your image */

  /* Essential styles for responsiveness */
  height: 100vh; /* Full height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire width or height whichever is bigger */

  /* Ensure proper scaling on all screens (optional but recommended) */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.content {
  padding-top: 5rem;
  color: white;
  margin-left: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

  @media (max-width: 699px) {
    margin-left: 0.5rem;
  }

  &__title {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 2rem;
    max-width: 38rem;


    @media (max-width: 699px) {
      max-width: 100%;
      font-size: 2rem;
    }
  }

  &__sub-title {
    font-size: 1.5rem;
    margin-top: 2rem;

    @media (max-width: 699px) {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }

  &__sub-text {
    font-size: 1rem;
    margin-top: 2rem;

    @media (max-width: 699px) {
      margin-top: 1rem;
      font-size: 0.9rem;
    }
  }

  &__contact {
    margin-top: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    line-height: 2rem;
    width: fit-content;
    border-radius: 10px;

    & a {
      color: white;
    }

    @media (max-width: 699px) {
      margin-top: 1rem;
    }
  }
}
