.responsive-image {
  background-image: url('/assets/images/hiker_ultra_wide.jpg'); /* Path to your image */

  /* Essential styles for responsiveness */
  height: 100vh; /* Full height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Cover the entire width or height whichever is bigger */

  /* Ensure proper scaling on all screens (optional but recommended) */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.content {
  padding-top: 5rem;

  &__title {
    color: white;
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
    max-width: 35rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

    @media (max-width: 699px) {
      margin-left: 0.5rem;
      max-width: 100%;
      font-size: 2rem;
    }
  }
}
