html, body {
  margin: 0;
  padding: 0;
  background: black;
}

body {
  margin: 0;
  font-family: Ubuntu, "Helvetica Neue", sans-serif !important;
}

* {
  font-size: 20px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  text-align: justify;
  hyphens: auto;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
